html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.navbar .fui-gear {
    padding-right: 25px;
}

table tr {
    cursor: pointer;
}
